{% extends "base.html.twig" %}

{% block body %}
    <div class="container col-8 text-center">
        {% if items is not empty %}
        <div class="row">
            {% for item in items %}
                <div class="col-sm-3">
                    <img src="{{ item.file_path }}" alt="{{ item.filename }}" style="width:100%">
                    <div class="additional-pdf-info">
                        <i>Added:</i> {{ item.uploaded_at }} <br>
                        <i>Page Nr.:</i> {{ item.page_nr }} <br>
                        <i>Size:</i> {{ item.size_in_KB }} KB
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="text-center">
                <h2>No Data</h2>
            </div>
        {% endif %}
    </div>
{% endblock %}